.next-chest-button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 50px;
  color: black;
  font-size: 22px;

  font-size: 22px;
  width: 300px;
  padding: 35px;

  border: 10px solid transparent;
  border-image-source: url("/ui/panel-000.png");
  border-image-slice: 30% fill;
  border-image-repeat: round;
  border-image-width: 22px;

  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease-out;

  display: flex;
  justify-content: center;
  align-items: center;

  &:active {
    font-size: 26px;
    padding: 35px;
  }
}
